.people{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  #chooseType{
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    color: #145ddc;
  }
  table{
    width: 60vw;
    font-size: 18px;
    tr{
      border-bottom: 1px lightgray solid;
      td{
        padding: 7px;
      }
    }
  }
}
